APP_NAME=Crop Management API
APP_ENV=development
MONGODB_URI=mongodb+srv://saud:<database_password>@cluster0.c1r35fr.mongodb.net/?appName=Cluster0
MONGODB_DATABASE=crop_management
MONGODB_SERVER_SELECTION_TIMEOUT_MS=3000
CNN_MODEL_PATH=ml/artifacts/tomato_resnet18.pt
